/cmake-build-*/**
*.obj
*.mva
.idea
.dir-locals.el
*.pth
*.ovm
**/build/*
**/tmp/*
*.so
**/.eggs/*
/testdata/*
/cmake-build-*/
**/generated/*
workspace.code-workspace
.vscode/
/apps/wwzb_filter/test/
/apps/normalestimation/test/
cache.pk
**/ignore/**
.vs/
CMakeSettings.json
/external/
/hunter_deps/